.container{
    margin-left: 30px;
    margin-top: 45px;
    display: flex ;
}
.container-bucket{
    margin-right: 50px;
}

.bucket{
    width: 300px;
    height: 83vh;
    max-height: 89vh;
    overflow: auto;

}
.bucket:hover{
    overflow: auto;
}

.create-task{
    width: 300px;
    height: 35px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: rgb(0 0 0 / 13%) 0px 6.4px 14.4px 0px, rgb(0 0 0 / 11%) 0px 1.2px 3.6px 0px;
    cursor: pointer;
    transition: 0.2s linear;
}

.create-task:hover{
    background-color: #e0e0e0;
    transition: 0.2s linear;
}

.create-bucket{
    width: 300px;
    height: 35px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: rgb(0 0 0 / 13%) 0px 6.4px 14.4px 0px, rgb(0 0 0 / 11%) 0px 1.2px 3.6px 0px;
    cursor: pointer;
    transition: 0.2s linear;
    margin-top: 59px;

}

.create-bucket:hover{
    background-color: #e0e0e0;
    transition: 0.2s linear;
}


.task{
    width: 99%;
    height: 150px;
    box-shadow: rgb(0 0 0 / 13%) 0px 6.4px 14.4px 0px, rgb(0 0 0 / 11%) 0px 1.2px 3.6px 0px;
    background-color: rgb(255, 255, 255);
    flex: 0 0 auto;
    min-height: 10px;
    min-width: 0px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 3px;
    margin-top: 15px;
    margin-left: 1px;
    cursor: move;
}
.task-create{
    width: 99%;
    height: 177px;
    box-shadow: rgb(0 0 0 / 13%) 0px 6.4px 14.4px 0px, rgb(0 0 0 / 11%) 0px 1.2px 3.6px 0px;
    background-color: rgb(255, 255, 255);
    flex: 0 0 auto;
    min-height: 10px;
    min-width: 0px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 3px;
    margin-top: 15px;
    margin-left: 1px;
    cursor: move;
}
.label{
    background-color: #c52a2a;
    color: #ffffff;
    width: 53px;
    height: 25px;
    border-radius: 3px;
    margin: 8px 8px 0px 8px; 
}
P{
    margin: 0px;
    padding: 2px;
    font-size: 14px;
}
.name-task{
    margin: 8px;
}

.description-task{
    color: #8f8f8f;
    font-size: 12px;
    margin: 0px 0px 8px 8px;

}

.container-user{
    border-top: 1px solid #dcdcdc;
    height: auto;
}

.input-text{
    width: 300px;
    height: 27px;
    padding: 3px;
    border: 1px solid #dcdc;
    background-color: #f5f5f5;
    border-radius: 3px;
}

.input-text:focus{
    outline: none;
}

.input-task-create{
    width: 277px;
    height: 20px;
    padding: 3px;
    border: 1px solid #dcdc;
    background-color: transparent;
    border-radius: 3px;
    margin: 5px;
}

.input-task-create:focus{
    outline: none;
}

.input-task-date{
    width: 18px;
    height: 18px;
    padding: 3px;
    border: 1px solid #dcdc;
    background-color: transparent;
    border-radius: 3px;
    margin: 5px;
}

.save-bucket{
    width: auto;
    height: 30px;
    border: none;
    background-color: #049233;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s linear;
    margin: 5px 5px 0px 0px;
}

.save-bucket:hover{
    background-color: #049233ea;
    transition: 0.2s linear;
}
.cancel{
    width: auto;
    height: 30px;
    border: none;
    background-color: #363636;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s linear;
    margin-top: 5px;
}

.cancel:hover{
    background-color: #363636ec;
    transition: 0.2s linear;
}

.select-user{
    width: 100px;
    border: none;
    margin: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer;
}

.select-user:focus{
    outline: none;
}

.button-add{
    width: 100%;
    height: 35px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: rgb(0 0 0 / 13%) 0px 6.4px 14.4px 0px, rgb(0 0 0 / 11%) 0px 1.2px 3.6px 0px;
    cursor: pointer;
    transition: 0.2s linear;
}
.button-add:hover{
    background-color: #a0a0a0;
    transition: 0.2s linear;
}

.avata-user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
}

.option-user:nth-child(odd){
    background-color: #dcdcdc;
}