.task{
    width: 99%;
    height: 130px;
    box-shadow: rgb(0 0 0 / 13%) 0px 6.4px 14.4px 0px, rgb(0 0 0 / 11%) 0px 1.2px 3.6px 0px;
    background-color: rgb(255, 255, 255);
    flex: 0 0 auto;
    min-height: 10px;
    min-width: 0px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 3px;
    margin-top: 15px;
    margin-left: 1px;
    cursor: move;
}
.label{
    color: #ffffff;
    width: auto;
    height: 20px;
    border-radius: 3px;
    margin: 8px 8px 0px 8px; 
    padding: 2px;
    opacity: 0.8;
}
P{
    margin: 0px;
    font-size: 12px;
}
.name-task{
    margin: 8px;
}

.description-task{
    color: #8f8f8f;
    font-size: 12px;
    margin: 0px 0px 8px 8px;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.container-user{
    border-top: 1px solid #dcdcdc;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-task-venc{
    margin: 5px 0px 0px 5px;
    padding: 3px;
    font-size: 13px;
    border-radius: 3px;
    background-color: #c52a2a;
    color: #fff;
}

.date-task{
    margin: 0px 0px 0px 5px;
    padding: 3px;
    font-size: 13px;
    border-radius: 3px;
    background-color:transparent;
}

.img-user{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 3px;
}

.container-description-user{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}