.topnav {
  width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 4%) 0px 6.4px 14.4px 0px, rgb(0 0 0 / 11%) 0px 1.2px 3.6px 0px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    
  }
  
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #c52a2a;
    color: white;
  }

  .container-auth-user{
    display: flex;
    align-items: center;
  }

  .avatar-user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }