.App{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
  }

  *::-webkit-scrollbar {
    width: 10px;               
    height: 10px;               
  }
  
  *::-webkit-scrollbar-track {
    background: #fff;        
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #dcdcdc;    
    border-radius: 20px;       
  }